# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

**/extra/
# idea

.idea/
**/.idea/
**/*.iml
# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
